html {
  font-family: sans-serif;
  font-size: 30px;

}

header {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -10px;
/*  left: -10px;
  right: -10px;*/
  padding: 6% 20%;
  border-radius: 8px;
}

h1 {
  color: #fff;
  text-align: center;
  border-radius: 8px;
  display: table;
  padding: 10px 10px;
  margin: auto;
}

.job {
  border: 3px solid rgb(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

.job:hover {
  border: border: 3px solid rgb(255, 255, 255);
}

p {
  margin: auto;
  padding: 20px;
  font-size: 20px;
}
