html {
  font-family: sans-serif;
  font-size: 30px;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6% 20%;
  border-radius: 8px;
  text-align: center;

}

h1 {
  color: #fff;
  text-align: center;
  border-radius: 8px;
  display: table;
  padding: 10px 10px;
  margin: auto;
}

textbox {

}
