html {
  font-family: sans-serif;
  padding: 0;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -10px;
  padding: 6% 20%;
  font-size: 30px;
  text-align: center;
  margin: -2% -2% 0 -2%;
}

body {
  margin: 0;
}

h1 {
  color: #fff;
  text-align: center;
  display: table;
  padding: 10px 10px;
  margin: auto;
}

#career-definition {
  text-align: center;
  margin: auto 2%;
  margin-bottom: 10px;
  padding: 1%;
  background-color: rgb(255, 255, 255, 0.4);
  color: rgb(5, 8, 66);
}

#career-definition-credit {
  opacity: 0;
  z-index: 1000;
  border: 3px solid rgb(255, 255, 255);
  display: inline-block;
  padding: 4px;
  background-color: rgb(255, 255, 255, 0.4);
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
}

#googletext {
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

#google {
  height: 30px;
}


.description {
  margin-bottom: 3%;
}

.job {
  margin: auto 2%;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.job:hover {
  border: 3px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  opacity: 1;
}

.one, .two, .three {
  opacity: .4;
}

.job:before {
  content: attr(data-text);
  text-align: center;
  font-size: 25px;
  line-height: 500%;
}

.job:before,
.job:after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: inherit;
  transition: .3s;
}

.job:after {
  display: flex;
  text-align: center;
  transform: translateY(100%);
}

.job:hover:before {
  transform: translateY(-100%);
}

.job:hover:after {
  transform: translateY(0%);
}

h3 {
  margin-top: 15px;
  margin-left: 15px;
}

p {
  padding: 0 2%;
  font-size: 20px;
}

.back-button {
  margin-left: 47%;
  height: 25px;
  color: rgb(255, 255, 255, 0.6);
  padding: 0.5%;
  margin-bottom: 3%;
  border: 3px solid rgb(255, 255, 255, 0.6);
}

.back-button:hover {
  border: 3px solid rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
}



footer {
  margin-top: 1%;
  background-color: rgb(22, 65, 135, 0.7);
  color: #fff;
  padding: 5%;
}

footer:hover {
  background-color: rgb(22, 65, 135);
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0 2px;
  margin-top: -10%;
  margin-bottom: 3%;
  border-radius: 50%;
  box-sizing: border-box;
  color: #007bff;
}

.fa:hover {
  color: #ffb43d;
}

.footer-font {
  color: #ffb43d;
  box-sizing: content-box;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  margin-top: -2%;
}

.white-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: normal;
}

#contact-us {
  box-sizing: border-box;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
}

.btn {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  border-radius: .25rem;
  font-size: 1rem;
  padding: .375rem .75rem;
}




@media (max-width: 550px) {
  header {
    font-size: 20px;
  }
  p {
    padding: 0 2%;
    font-size: 20px;
  }
  .job:before {
    line-height: 300%
    font-size: 20px;
  }
  .back-button {
    margin-left: 45%;
    padding: 1%;
  }
}
