html {
  font-family: sans-serif;
  padding: 0;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -10px;
  padding: 6% 20%;
  font-size: 30px;
  text-align: center;
}

h1 {
  color: #fff;
  text-align: center;
  display: table;
  padding: 10px 10px;
  margin: auto;
}

.job {
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.job:hover {
  border: 3px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  opacity: 1;
}

.one, .two, .three {
  opacity: .5;
}

.job:before {
  content: attr(data-text);
  text-align: center;
  line-height: 400%;
  font-size: 25px;
}

.job:before,
.job:after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: inherit;
  transition: .3s;
}

.job:after {
  display: flex;
  text-align: center;
  background: #000;
  transform: translateY(100%);
}

.job:hover:before {
  transform: translateY(-100%);
}

.job:hover:after {
  transform: translateY(0%);
}

h3 {
  margin-top: 15px;
  margin-left: 15px;
}

p {
  padding: 0 15px;
  font-size: 20px;
}


@media (max-width: 550px) {
  header {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .job:before {
    line-height: 300%
    font-size: 20px;
  }
}
