html {
  font-family: sans-serif;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -10px;
/*  left: -10px;
  right: -10px;*/
  padding: 6% 20%;
  border-radius: 8px;
  font-size: 30px;
  text-align: center;
}

h1 {
  color: #fff;
  text-align: center;
  border-radius: 8px;
  display: table;
  padding: 10px 10px;
  margin: auto;
}

.job {
  border-radius: 8px;
  margin-bottom: 10px;
}

.job:hover {
  border: 3px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

h3 {
  margin-top: 15px;
  margin-left: 15px;
}

p {
  padding: 0 15px;
  font-size: 20px;
}


@media (max-width: 550px) {
  header {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
