html {
  font-family: sans-serif;
  background-image: url(0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

header {
  padding: 24% 20%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
}

header:hover {
  background-color:  rgba(255, 255, 255, 0.5);

}

body {
  text-align: center;
  background-color: transparent;
}

h1 {
  color: #164187;
  background-color: #ffffff;
  }

h2 {
  color: #164187;
  box-sizing: content-box;
}

p {
  color: #ffb43d;
  box-sizing: content-box;
}

ul {
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  border: 3px solid #164187;
  overflow: hidden;

}

li {
  display: block;
  color: #164187;
  padding:0;
  text-decoration: none;
  margin:0;
  list-style-type: none;
  float: right;
}

li a {
  display: inline-block;
  color: #164187;
  text-align: center;
  padding: 14px 16px;
}


#careers-choice {
  margin: 1% 1% 0 1%;
  padding: 1% 2%;
  background-color: red;
}

.carouselpic {
  height: 400px;
  width: 600px;
}

.carousel-item {
  opacity: 0.6;
}

.carousel-item:hover {
  opacity: 1;
}

.carouselcaption {
  padding: 0 10%;
}

h5 {
  color: #164187;
}

.carousel-indicators {
  transform: translateY(-40%);
  margin: 0 auto;
}

.indicator {
  padding: 1%;
}


#organisation-info {
  margin: 0 1%;
  padding: 1% 2%;
  background-color: #ffffff;
}

.columns {
  column-count: 3;
  -webkit-column-count: 3;
  margin: 20px 0;
  margin-top: auto;
}

img.us {
  margin: 25px 10px;
  border-radius: 100px;
  height: 160px;
  width: 160px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}


img.us:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.caption {
  color: #164187;
  font-size: 12px;
  padding: 0 4%;
  margin: 1%;
  text-align: center;
  -webkit-transition: all .2s ease;
	transition: all .2s ease;
}


footer {
  margin-top: 1%;
  background-color: rgb(22, 65, 135, 0.5);
  color: #fff;
  font-size: 13px;
  padding: 5%;
}

footer:hover {
  background-color: rgb(22, 65, 135);
}

@media (max-width: 650px) {
  .carouselpic {
      height: 300px;
      width: 450px;
  }

  img.us {
    height: 100px;
    width: 100px;
    margin: 25px 10px;
  }

  .caption {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 500px) {
  .caption {
    font-size: 10px;
    overflow: auto;
  }

  .carouselpic {
    height: 200px;
    width: 300px;
  }

  .carouselcaption {
    padding: 0 12%;
  }
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
 text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
