/* IDEAS
- 2 pages: about us (with blog if there's time) on page 2
https://meetamentor.co.uk/ i've seen this website, looks cool and the content reasonable
- create identities and use real people
-
-
*/

html {
  font-family: sans-serif;
  background-image: url(0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1%;
  text-align: center;
}

header {
  padding: 23% 20%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

header:hover {
  background-color:  rgba(255, 255, 255, 0.5);
}

body {
  text-align: center;
}

h1 {
  color: #164187;
  background-color: #ffffff;
  border-radius: 8px;
  }

h2 {
  color: #164187;
  box-sizing: content-box;
}

p {
  color: #ffb43d;
  background-color: #ffffff;
  box-sizing: content-box;
}

ul {
  background-color: #ffffff;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  width: 130px;
  border: 3px solid #164187;
  float: right;
  border-radius: 8px;
}

li {
  display: block;
  color: #164187;
  padding: 8px 16px;
  text-decoration: none;
  width: 100px;
  text-align: center;
}

.info {
  padding: 1% 2%;
  background-color: #ffffff;
  border-radius: 8px;
}

.columns {
  column-count: 3;
  -webkit-column-count: 3;
  margin: 20px 0;
}

img.us {
  border-radius: 8px;
  height: 160px;
  width: 150px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

img.us:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.caption {
  background-color: rgb(255, 180, 61, 0.9);
  color: #164187;
  font-size: 15px;
  border-radius: 8px;
  height: 140px;
  width: 130px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-102.5%);
  -webkit-transition: all .2s ease;
	transition: all .2s ease;
  /*display: none;*/
}
/*fix */


button {
  margin: 20px;
  border-radius: 8px;
  color: #ffffff;
  background-color: rgb(255, 180, 61, 0.5);
  font-size: 20px;
}

.slideshow {
  position: relative;
  margin: auto;
}

/*.slide {
  display: none;
}*/

.sspic {
  height: 300px;
  border-radius: 8px;
}

.text {

}

.numbertext {

}





@media (max-width: 500px) {
  img {
    height: 100px;
    width: 94px;
}

.caption {
  height: 80px;
  width: 74px;
  font-size: 12px;
  overflow: auto;
  transform: translateY(-104%);
}
