html {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



body {
  background-color: #DF551D;
  text-align: center;
}

h1 {
  color: purple;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  }

h2 {
  background-color: blue;
  color: #c68d83;
}
